.box {
  box-shadow: 5px 10px grey !important;
}

@media screen and (max-width: 768px) {
.is-fullwidth-mobile {
  display: flex;
  width: 100% !important;
  margin: 0 !important;
  margin-top: 1em !important;
  border-radius: 0 !important;
  }
.projectsColumns {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 3em !important;
}
.principlesColumns {
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: 1em !important;
  padding: 0 !important;
  padding-top: 3em !important;
}
.box {
  box-shadow: none !important;
}
}

.splashBox {
  box-shadow: 5px 10px grey !important;
}